<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaven.dao.extend.AnnouncementVOMapper">
	<select id="selectByRecruId" parameterType="java.lang.Integer"
		resultMap="announcementResultMap">
		select * from announcement where recruid_id = #{recruId}
	</select>
	<select id="selectEight" resultMap="announcementResultMap">
		select * from announcement as
		a
		WHERE 8> (
		select count(*)
		from announcement
		where recruid_id = a.recruid_id
		and id > a.id)
		order by a.id desc;
	</select>
	<resultMap type="com.heaven.bean.Announcement" id="announcementResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="author" property="author" />
		<result column="content" property="content" />
		<result column="date" property="date" />
		<result column="recruid_id" property="recruidId" />
	</resultMap>

	<update id="update" parameterType="com.heaven.bean.Announcement">
		update announcement set name =
		#{name},author=#{author},content=#{content},recruid_id=#{recruidId}
		where id = #{id}
	</update>
	<insert id="save" parameterType="com.heaven.bean.Announcement" useGeneratedKeys="true"
		keyProperty="id">
		insert into announcement (name, author,content,recruid_id) values(#{name},#{author},#{content}, #{recruidId})
	</insert>
</mapper>