<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaven.dao.extend.GeneralVOMapper">
	<update id="update" parameterType="com.heaven.bean.General">
		update general set title = #{title},author=#{author},content=#{content} where id = #{id}
	</update>
	<insert id="save" parameterType="com.heaven.bean.General" useGeneratedKeys="true"
		keyProperty="id">
		insert into general (title, author,content) values(#{title},#{author},#{content})
	</insert>
	<select id="searchByKeyWord" parameterType="string" resultMap="generalMap">
		select * from general where title like '%${keyWord}%' or content like '%${keyWord}%'
	</select>
	<resultMap id="generalMap" type="com.heaven.bean.General">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="author" property="author"/>
		<result column="content" property="content"/>
		<result column="date" property="date"/>
	</resultMap>
</mapper>