<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaven.dao.extend.GuidInfoVOMapper">
	<select id="selectByTypeId" parameterType="java.lang.Integer"
		resultType="com.heaven.bean.GuidInfo">
		select * from guid_info where type_id = #{typeId}
	</select>
	<update id="update" parameterType="com.heaven.bean.GuidInfo">
		update guid_info set title = #{title},author=#{author},content=#{content} where id = #{id}
	</update>
	<insert id="save" parameterType="com.heaven.bean.GuidInfo" useGeneratedKeys="true"
		keyProperty="id">
		insert into guid_info (title, author,content,type_id) values(#{title},#{author},#{content},#{typeId})
	</insert>
	<select id="selectByRandom" resultMap="guidInfoMap">
		select * from guid_info order by rand() limit 18
	</select>
	<select id="selectSixByType" resultMap="guidInfoMap">
		select * from guid_info as
		a
		WHERE 6 > (
		select count(*)
		from guid_info
		where type_id = a.type_id
		and id > a.id)
		order by a.id desc;
	</select>
	<resultMap type="com.heaven.bean.extend.GuidInfoVO" id="guidInfoMap">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="author" property="author" />
		<result column="content" property="content" />
		<result column="date" property="date" />
		<association property="guidType" column="type_id"
			select="com.heaven.dao.GuidTypeMapper.selectByPrimaryKey">
		</association>
	</resultMap>
	<select id="searchByKeyWord" parameterType="string" resultMap="guidInfoMap">
		select * from guid_info where title like '%${keyWord}%' or content like '%${keyWord}%'
	</select>
</mapper>