<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaven.dao.extend.VideoCommentVOMapper">
	<select id="selectAll" resultMap="videoCommentVOMap">
		select * from video_comment
	</select>
	<!-- 定义结果集 -->
	<resultMap type="com.heaven.bean.extend.VideoCommentVO" id="videoCommentVOMap">
		<id column="id" property="id" />
		<result column="content" property="content"/>
		<result column="date" property="date"/>
		<result column="username" property="username" />
		<association property="videoVO" column="video_id" javaType="com.heaven.bean.extend.VideoVO" 
			select="com.heaven.dao.extend.VideoVOMapper.selectById">
		</association>
		<association property="userVO" column="user_id" javaType="com.heaven.bean.extend.UserVO" 
			select="com.heaven.dao.extend.UserVOMapper.selectById">
		</association>
	</resultMap>
	<select id="selectByVideoId" parameterType="int" resultMap="videoCommentVOMap">
		select * from video_comment where video_id = #{videoId} 
	</select>
	<insert id="insert" parameterType="com.heaven.bean.VideoComment" useGeneratedKeys="true"
		keyProperty="id">
		insert into video_comment (content, username,video_id,user_id) values(#{content},#{username},#{videoId}, #{userId})
	</insert>
	<update id="updateUserName" parameterType="com.heaven.bean.User">
		update video_comment set username=#{username} where user_id = #{id}
	</update>
	<select id="selectByUserName" parameterType="String" resultMap="videoCommentVOMap">
		select * from video_comment where username = #{username} 
	</select>
	<update id="updateComment" parameterType="com.heaven.bean.VideoComment">
		update video_comment set content=#{content}, username=#{username},video_id=#{videoId},user_id=#{userId} where id = #{id}
	</update>
</mapper>